.navbar.navbar-default.navbar-static-top.navigation
  .container
    = link_to "HitThePole", root_path, id: "logo"
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to "Link1", "/path1", id: "left-buttons"
      %ul.nav.navbar-right.col-md-4.right-nav
        .row
          - if current_user
            %li.col-md-8
              %span.glyphicon.glyphicon-user
                = link_to current_user.full_name, edit_user_registration_path, class: "user-link"
            %li= link_to "Logout", destroy_user_session_path, class: "btn btn-sm btn-danger", method: :delete
          - else
            %li= link_to "Login", new_user_session_path, class: "btn btn-sm btn-info"
