.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "HitThePole", root_path, class: "navbar-brand"
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to "Link1", "/path1"
        %li= link_to "Link2", "/path2"
        %li= link_to "Link3", "/path3"
      %ul.nav.navbar-right.col-md-4
        .row
          - if current_user
            %li.col-md-8
              %span.glyphicon.glyphicon-user
              = link_to current_user.full_name, edit_user_registration_path
            %li= link_to "Logout", destroy_user_session_path, class: "btn btn-sm btn-danger", method: :delete
            %li
          - else
            %li= link_to "Login", new_user_session_path, class: "btn btn-sm btn-info"
            %li
